h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
}


a{
    text-decoration: none;
    color: #2E2F42;
}
ul {
    list-style-type: none;
}

button{
    cursor: pointer;
}

body{
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #FFF;
    font-weight: 400;
}
.logo{
font-family: Raleway, sans-serif;
color: #4D5AE5;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
}

.logo-part{
color: #2e2f42;
}

.header-container{
display: flex;
justify-content: space-between;
height: 72px;
align-items: center;
border-bottom: 1px solid #E7E9FC;

}

.page-navigation {
    display: flex;
    justify-content: space-between;

}

.menu-navigation{
display: flex;
margin-left: 76px;
column-gap: 40px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.32px;
}

.menu-item:hover,
.menu-item:focus{
color: #404bbf;
}
address{
    font-style: normal;
}



.address-menu{
color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 24px 40px;
    }
  
.address-item{
color: #434455;
    }




.address-item:hover,
.address-item:focus {
    color: #404BBF;
}

.section{
padding-top: 120px;
padding-bottom: 120px;

}
/* first section*/
.main-section{
background-color: #2E2F42;
display: flex;
padding: 188px 0 188px;
align-items: center;
}


.main-title{
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    max-width: 495px;
    margin-left: auto;
    margin-right: auto; 
    row-gap: 48px;
        }

.main-button{
    color:#FFF;
    background-color: #4D5AE5;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        display: block;
        margin-left: auto;
            margin-right: auto;
            border-radius: 5px;
}

.main-button:hover,
.main-button:focus{
    background-color: #404BBF;
}
/*second section*/
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-title{
    color: #2e2f42;
}
.fuctions-list{
    display: flex;
    column-gap: 24px;
    justify-content: center;
}
.section-points{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
}


.points-description{
    color: #434455;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*team*/

.team{
text-align:center;
background-color: #F4F4FD;

}

.team-menu{
    display: flex;
    justify-content: center;
    column-gap: 24px;
        padding-top: 72px;
}
.team-item{
    background-color: #FFFFFF;
}

.team-title{
font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
   }

.team-name{
    font-size: 20px;
     font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #2e2f42;
}

.team-position{
    color: #434455;
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
}


/*fourth section*/
.portfolio{
    background-color: #FFF;
    color: #2E2F42;
}

.portfolio-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
    padding-top: 72px;
}
.portfolio-title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.portfolio-name{
    font-size: 20px;
     font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfoli-description{
    color: #434455;
        font-size: 16px;
         font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.footer{
    background-color: #2E2F42;
}


.logo-down{
    font-family: Raleway, sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-part-down{
    color: #f4f4fd;
}
.slogan{
color:#F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
    margin-top: 17.5px;

}